{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
  <head>
    <title>p3s@{{ host }}</title>
    <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->
    <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <style>
      body {
      font-family: 'Ubuntu', sans-serif;
      }
    </style>

    {% if refresh %}
    <meta http-equiv="refresh" content="{{ refresh }}" />
    {% endif %}

  </head>

  
  <body>
    {% include "linkbar.html" %}
    <hr/>
    <!-- include "topnavbar.html" Moved to linkbar-->
    <center>
    <!-- h1>&#2384;</h1 -->
    <h3>p3s running on server "{{ host }}". Page updated at {{ time }}</h3>
    <table border="1">
      <tr>
	<th>Summary</th>
	<th>Jobs</th>
	<th>System Status</th>
      </tr>
      <tr>
	<td>
          {% block table1 %}{% render_table summary %}{% endblock %}
	</td>
	<td>
          {% block table2 %}{% render_table jobs %}{% endblock %}
	</td>
	<td>
          {% block table3 %}{% render_table system %}{% endblock %}
	</td>
      </tr>
    </table>

    <!-- Pilots: {{ npilots }}, Jobs: {{ njobs }}, Workflows: {{ nwf }}, Datasets: {{ ndatasets }}<br/> -->
    <hr/>
    Users: {{ users }}
    <hr/>

    {% block frm %}
    {% if selectors %}
	      <form action="" method="post">
		{% csrf_token %}
		<table>
		  <tr>
		    {% for sel in selectors %}
		    <td>
		      <table>
			{{ sel }}
		      </table>
		    </td>
		    {% endfor %}
		    <td>
		      <input type="submit" value="Submit" />
		    </td>
		  </tr>
		</table>
		
	      </form>
	      {% endif %}
	      {% endblock %}

    </center>
  </body>
</html>
