{% load static %}
<table width="100%">
  <tr> <!-- style="font-size:20px" -->
    <td width="14%"><img src="{% static 'images/dune_logo.png' %}"></td>
    <!-- td width="5%"><h2>p3s</h2></td -->
    <td width="30%"><a href="http://{{ domain }}">	<b>p3s home @"{{ host }}"	</b></a><br/>
    <a href="http://{{ dqm_domain }}">	<b>DQM @"{{ dqm_host }}"	</b></a></td>
    
    <td width="14%" ><a href="http://{{ domain }}/monitor/jobs">		Jobs</a><br/>
    <a href="http://{{ domain }}/monitor/pilots">	Pilots</a></td>
    <td width="14%" ><a href="http://{{ domain }}/monitor/workflows">	Workflows</a><br/>
    <a href="http://{{ domain }}/monitor/dags">		DAGs</a></td>
    <td width="14%" ><a href="http://{{ domain }}/monitor/data">Data</a><br/>
      <a href="http://{{ domain }}/monitor/datatypes">	Data Types</a><br/>
      <a href="http://{{ domain }}/monitor/filesystem">	Filesystem</a>
    </td>
    <td width="14%"><a href="http://{{ domain }}/monitor/sites">	Sites</a></td>

  </tr>
</table>

