{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
  <head>
        <title>{% block title %}{% endblock %}&ensp;(total in DB: {{ N }})</title>
        <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
        <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->
    </head>
    <body>
      <a href="http://{{ domain }}"><h2>p&#2384;s home</h2></a><br/>
<hr/>
      <h3>{% block headline %}{% endblock %}&ensp;(total in DB: {{ N }})</h3>
      
      <div>
      {% block frm %}
      <form action="" method="post">
	{% csrf_token %}
	{% if selector %}
	{{ selector }}
	<input type="submit" value="Submit" />
	{% endif %}
      </form>
      {% endblock %}
      </div>
      <hr/>

      
      <div id="table">
        {% block table %}{% endblock %}
      </div>
<hr/>
      <h3>{% block aux1title %}{% endblock %}</h3>
      <div id="aux1">
        {% block aux1 %}{% endblock %}
      </div>

    </body>
<hr/>
      <h3>{% block aux2title %}{% endblock %}</h3>
      <div id="aux2">
        {% block aux2 %}{% endblock %}
      </div>

      <div id="time" align="right">
	Current time: {{ time }}<br/>
      </div>

</body>
</html>
