{% extends "monitor_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}


{% if display %}
<form>
  {{ form }}
  <input type="submit">
</form>
<hr/>
<center>

<table>
  <tr>
    <td align="center">RAW</td>
    <td align="center"><h2> Run {{ run }}, Event {{ event }}</h2></td>
    <td align="center">PREP</td>
  </tr>
{% for ch in chList %}
  <tr>
    <td>
      <img src="http://{{ domain }}/{{ evdispURL }}/{{ run }}/adcraw_evt{{ event }}_ch{{ ch }}.png" alt="NOT FOUND">
    </td>
    <td><center><h3>{{ ch }}</h3></center></td>
    <td>
      <img src="http://{{ domain }}/{{ evdispURL }}/{{ run }}/adcprep_evt{{ event }}_ch{{ ch }}.png" alt="NOT FOUND">
    </td>
  </tr>
{% endfor %}
</table>
</center>
{% else %}
<!-- hr/ -->
<form>
  {{ form }}
  <input type="submit">
</form>
{% endif %}
{% endblock %}
