{% extends "monitor_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}


{% if display %}
<table>
  <tr>
    <td align="center"><h3>RAW</h3></td>
    <td align="center"><h3>  </h3></td>
    <td align="center"><h3>PREP</h3></td>
  </tr>
{% for ch in chList %}
  <tr>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch{{ ch }}.png">
    </td>
    <td><center><h3>{{ ch }}</h3></center></td>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcprep_evt{{ event }}_ch{{ ch }}.png">
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
No data.
{% endif %}
{% endblock %}
