{% extends "monitor_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
<table>
  <tr>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch7680-10239.png">
    </td>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch7680-10239.png">
    </td>
  </tr>
  <tr>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch7680-10239.png">
    </td>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch7680-10239.png">
    </td>
  </tr>
</table>
{% endblock %}
