{% extends "monitor_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}


{% if display %}
<form>
  {{ form }}
  <input type="submit">
</form>
<hr/>
<center>
<h2> Run {{ run }}, Event {{ event }}</h2>
<table>
  <tr>
    <td align="center"><h4>RAW</h4></td>
    <td align="center"><h4>  </h4></td>
    <td align="center"><h4>PREP</h4></td>
  </tr>
{% for ch in chList %}
  <tr>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcraw_evt{{ event }}_ch{{ ch }}.png">
    </td>
    <td><center><h3>{{ ch }}</h3></center></td>
    <td>
      <img src="http://{{ domain }}/{{ directory }}/adcprep_evt{{ event }}_ch{{ ch }}.png">
    </td>
  </tr>
{% endfor %}
</table>
</center>
{% else %}
No data.
<hr/>
<form>
  {{ form }}
  <input type="submit">
</form>
{% endif %}
{% endblock %}
