{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
  <head>
    <title>p&#2384;s@{{ hostname }}</title>
    <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->
    <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
  </head>

  
  <body>
    <h2>p&#2384;s@{{ hostname }}</h2>
    {% include "topnavbar.html" %}
    <table border="1">
      <tr>
	<th>Summary</th>
	<th>System</th>
      </tr>
      <tr>
	<td>
f00
	</td>
	<td>
bar
	</td>
      </tr>
    </table>

    p3s sites: {{ sites }}
    <!-- Pilots: {{ npilots }}, Jobs: {{ njobs }}, Workflows: {{ nwf }}, Datasets: {{ ndatasets }}<br/> -->
    <hr/>  
  </body>
</html>
