{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
  <head>
    <title>protoDUNE DQM: Home@{{ hostname }}</title>
    <!-- THIS IS TEMP, until we plant it on Apache -->
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <!-- link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" / -->
  </head>

  
  <body>
    <h2>protoDUNE DQM: Home@{{ hostname }}</h2>
    {% include "topnavbar.html" %}
    <table border="1">
      <tr>
	<th>Uptime</th>
	<th>System</th>
      </tr>
      <tr>
	<td>
{{ uptime }}
	</td>
	<td>
{{ hostname }}
	</td>
      </tr>
    </table>

    <!-- Pilots: {{ npilots }}, Jobs: {{ njobs }}, Workflows: {{ nwf }}, Datasets: {{ ndatasets }}<br/> -->
    <hr/>  
  </body>
</html>
