{% load static %}
<!doctype html>
<html>
  <head>
    <title>protoDUNE DQM: Home@{{ hostname }}</title>
    <!-- THIS IS TEMP, until we plant it on Apache -->
    <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->

    <!-- APACHE -->
    <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
  </head>

  
  <body>

    <!-- TOP TOP TOP -->
    {% include "topnavbar.html" %}

    
    <!-- h2>protoDUNE DQM content server running on {{ hostname }}, uptime {{ uptime }}</h2 -->

    <!-- table border="1">
      <tr>
	<th>Uptime</th>
	<th>System</th>
      </tr>
      <tr>
	<td>
{{ uptime }}
	</td>
	<td>
{{ hostname }}
	</td>
      </tr>
    </table -->

    <hr/>  
  </body>
</html>
