{% load render_table from django_tables2 %}
{% load static from staticfiles%}
<!doctype html>
<html>
  <head>
    <title>protoDUNE DQM{{ pageName }}</title>
    <!-- THIS IS TEMP, until we plant it on Apache -->
    <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->
    <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawStuff);

function drawStuff() {
    {% for p in purS %}
    var data = new google.visualization.DataTable();
    data.addColumn('timeofday', 'Time (UTC)');
    data.addColumn('number', 'Lifetime');

    data.addRows([
	{{ p.timeseries }}
    ]);

    var options = {
	title: '{{ p.panel }}',
	legend: {position:'none'},
	height: 300,
	width: 400,
	timeZone:-5,
	vAxis: {
          title: 'Electron Lifetime (ms)'
        },
	hAxis: {
	    title: 'Time (UTC)'
	}
    };
      
    var chart = new google.visualization.ColumnChart(document.getElementById('{{ p.panel }}'));
//    var chart = new google.charts.Bar(document.getElementById('{{ p.panel }}'));
    chart.draw(data, google.charts.Bar.convertOptions(options));

    {% endfor %}
      };
    </script>
  </head>

  
  <body>
        {% include "topnavbar.html" %}
    <h2>protoDUNE DQM{{ pageName }}</h2>


<table>
  <tr>
    <td align="top">
      <div id="content1">
        {% block content1 %}{% endblock %}
      </div>
    </td>
    <td align="right">
    <table>
    <tr>
    {% for p in purS %}
    <td>
    <div id="{{ p.panel }}"></div>
    </td>
    {% if p.panel == "tpc5" %}
</tr>
    <tr>
    {% endif %}
    {% endfor %}
</tr>
    </table>
    </td>
  </tr>
</table>

    <hr/>  
  </body>
</html>
