{% load static %}
<hr/>
<table width="80%">
  <tr>
    <td><img src="{% static 'images/dune_logo.png' %}"> </td>
    <td><a href="http://{{ domain }}">			Home			</a><br/> </td>
    <td><a href="http://{{ domain }}/monitor/puritytable">	Purity Table		</a><br/></td>
    <td><a href="http://{{ domain }}/monitor/puritychart">	Purity Chart		</a><br/></td>
    <td><a href="http://{{ domain }}/monitor/eventdisplay">	Event Display </a><br/></td>
  </tr>
</table>

<!-- the following was in the top nav bar before but we need to move to a prod quality
management of ev displ images -->

<!-- td><a href="http://{{ domain }}/evdisp">		Event Display Images	</a><br/></td -->

<hr/>
