{% extends "monitor_base2.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content1 %}
<table>
  <tr>
    <th width="50%">
      {{ tblHeader }}
    </th>
    {% if table_aux %}
    <!-- th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th -->
    <th width="50%">
      Run Catalog
    </th>
    {% endif %}

    
    {% if img_url1 %}
    <!-- th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th -->
    <th align="center" width="50%">
      Recent event: run {{ run }}, event {{ event }}, channel group {{ group }}
    </th>
    {% endif %}
  </tr>
  <tr>
    <td>
      {% render_table table %}
    </td>
    
    {% if table_aux %}
    <!--td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td -->
    <td align="center" width="50%">
      {% render_table table_aux %}
    </td>
    {% endif %}

    {% if img_url1 %}
    <!-- td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td -->
    <td align="center" width="50%">
    <img width="50%" src="{{ img_url1 }}" alt="NOT FOUND"><br/>
    <img width="50%" src="{{ img_url2 }}" alt="NOT FOUND">
    </td>
    {% endif %}
    
  </tr>
{% endblock %}    
